rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Quy tắc bảo mật cho danh sách bệnh nhân
    match /patients/{document} {
      allow read: if true;
      allow write: if request.resource == null // Cho phép Xóa
                   || (
                     // Chỉ cho phép Thêm/Sửa khi có đủ và đúng định dạng các trường
                     request.resource.data.keys().hasAll(['index', 'ten'])
                     && request.resource.data.index is int
                     && request.resource.data.ten is string
                     && (request.resource.data.namSinh == null || request.resource.data.namSinh is string)
                     && (request.resource.data.ngayVao == null || request.resource.data.ngayVao is string)
                     && (request.resource.data.gioVao == null || request.resource.data.gioVao is string)
                     && (request.resource.data.gioBan == null || request.resource.data.gioBan is string)
                     && (request.resource.data.gioRa == null || request.resource.data.gioRa is string)
                     && (request.resource.data.phong == null || request.resource.data.phong is string)
                     && (request.resource.data.thuThuat == null || request.resource.data.thuThuat is string)
                   );
    }
    
    // Quy tắc bảo mật cho danh sách nhân sự
    match /staff/{document} {
      allow read: if true;
      allow write: if request.resource == null // Cho phép Xóa
                   || (
                     // Chỉ cho phép Thêm/Sửa khi có đủ và đúng định dạng các trường
                     request.resource.data.keys().hasAll(['index', 'ten'])
                     && request.resource.data.index is int
                     && request.resource.data.ten is string
                     && (request.resource.data.vaiTro == null || request.resource.data.vaiTro is string)
                     && (request.resource.data.trangThai == null || request.resource.data.trangThai is string)
                     && (request.resource.data.thoiGianLam == null || request.resource.data.thoiGianLam is string)
                     && (request.resource.data.kyNang == null || request.resource.data.kyNang is string)
                     && (request.resource.data.gioBan == null || request.resource.data.gioBan is string)
                     && (request.resource.data.nguoiThayThe == null || request.resource.data.nguoiThayThe is string)
                   );
    }
  }
}
